<link rel="stylesheet" href="/css/post.css">
<li id="post-<%=post._id%>" class="user-post">
    <p>
        <small class="user-name"><a href="/users/profile/<%=post.user.id%>"><i class="fas fa-user-circle"></i> <%=post.user.name%></a></small>
        <% if(locals.user && locals.user.id == post.user.id){ %>
        <small class="delete"><a class="delete-post-button" href="/post/destroy/<%=post.id%>"><i class="fa-solid fa-trash"></i></a></small>
        <%}%>
        <br>
        <%=post.content %>
    </p>
    <div class="post-comments">
        <div class="post-comment-list">
            <h4>Comments:</h4>
            <ul id="post-comments-<%=post._id%>">
                <% for(comment of post.comments){%>
                    <%- include('_comment'); -%>
                    <%}%>
            </ul>
        </div>
        <% if(locals.user){ %>
            <div id="comment-form">
    <form action="/comment/create" method="POST">
        <input type="text" name="content" placeholder="comment here..." required>
        <input type="hidden" name="post" value="<%=post._id%>">
        <button type="submit"Comment>Comment</button>
    </form>
</div>
    <% } %>
</div>
</li>